* {
     box-sizing:border-box;
}

html, body {
     margin:0;
     padding:0;
     background-color: #f2f2f2;
}

header {
     background-color: #c4bcc4;
     width:100%;
     text-align: center;
     position: fixed;
     z-index: 999;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}


nav a {
     text-decoration: none;
}

nav li {
     display: inline;
     margin:50px;
     font-size: 1.5em;
     font-weight:500;
}

nav .large-bold {
     font-size:2em;
     font-weight: bold;
}

main {
     position: relative;
     top:100px;
     width: 100%;
}

.site-hero {
     height: 1000px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.site-hero img{
     height: 60%;
}
.project-section {
     /* border:3px solid black; */
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

.project {
     width:45%;
     min-height:600px;
     border:5px solid grey;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     text-align: center;
}

.project img {
     width:100%;
     height: 100%;
     
}

.project:hover p {
     display: inherit;
     
}

.project p {
     display: none;
     position: absolute;
     font-size: 1.25em;
}
/*#C4BCB3
#EBE0D5*/